html {
  background-color: aliceblue;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-color: midnightblue;
}
.bodyart {
  width: 80%;
  margin: auto;
  background-color: lightblue;
  border-radius: 20px;
}
nav {
  margin: auto;
  background-color: lightsteelblue;
  font-size: 24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
ul li {
  padding: 10px;
  display: block;
  text-align: center;
  display: inline;
}
a {
  color: steelblue;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
h1 {
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  font-weight: normal;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
ol li {
  display: block;
  text-align: left;
}
li {
  display: block;
}
h2 {
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  border: 5px dashed midnightblue;
  margin: 20px;
}
p {
  text-align: left;
  line-height: 50px;
  font-size: 20px;
  margin: 20px;
  display; block;
}
img {
  float: right;
  width: 30%;
  height: 30%;
  margin: 15px;
  border: 5px solid midnightblue;
}
.larpimg {
  width: 100%;
  justify-content: center;
  display: block;
}
