html {
  background-color: aliceblue;
}
.page {
  display: inline;
  border: solid mediumpurple;
  background-color: purple;
}
li.page {
  color: white;
  font-size: 16px;
  font-weight: normal;
  font-family: Papyrus, fantasy;
  text-align: center;
}
]
.bodyart {
  display: block;
  border-radius: 20px;
  background-color: mediumpurple;
  width: 90%;
  height: 90%;
}
h1 {
  color: purple;
  font-size: 24px;
  font-weight: normal;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: left;
  display: block;
}
