html {
  background-color: mediumpurple;
}
.page {
  color: purple;
  font-size: 16px;
  font-weight: normal;
  font-family: Papyrus, fantasy;
  text-align: center;
  display: inline;
  border: solid;
  border: 1px solid purple;
  background-color: purple;
}
h1 {
  color: white;
  font-size: 24px;
  font-weight: normal;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: left;
  display: block;
}
