html {
  background-color: mistyrose;
  font-family: Helvetica, sans-serif;
  overflow: auto;
}
.bodyart {
  width: 90%;
  margin: auto;
  background-color: lightpink;
  border-radius: 10px;
  border-style: dashed;
  border-color: deeppink;
  border-width: 3px;
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  color: palevioletred;
  padding: 10px;
  display: block;
}
h3 {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: palevioletred;
  padding: 5px;
}
p {
  font-size: 14px;
  text-align: left;
  color: palevioletred;
}
.Koch {
