html {
  background-color: mistyrose;
  font-family: Helvetica, sans-serif;
  overflow: auto;
}
img {
  width: 70%;
  margins: 5px;
}
.bodyart {
  width: 80%;
  margin: auto;
  padding: auto;
  justify-content:  center;
}
h1 {
  text-align: center;
  margin: 15px;
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  color: palevioletred;
  display: block;
}
h3 {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: palevioletred;
  padding: 5px;
}
p {
  font-size: 14px;
  text-align: left;
  color: palevioletred;
}
.Koch {
  display: grid;
  overflow: auto;
  background-color: lightpink;
  border-radius: 10px;
  border-style: dashed;
  border-color: deeppink;
  border-width: 3px;
  width: 100%;
  height: 70%;
  margin: 10px;
}
.BasicKoch {
  grid-column-start: 1;
  float: left;
  overflow: auto;
}
.WidthKoch {
  grid-column-start: 2;
  overflow: auto;
}
.SizeKoch {
  grid-column-start: 3;
  float: right;
  overflow: auto;
}
.Sierpinski {
  justify-content: center;
  overflow: auto;
  display: grid;
  background-color: lightpink;
  border-radius: 10px;
  border-style: dashed;
  border-color: deeppink;
  border-width: 3px;
  width: 100%;
  height: 70%;
  margin: 10px;
}
.BasicSierpinski {
  grid-column-start: 1;
  float: left;
}
.WidthSierpinski {
  grid-column-start: 2;
}
.SquareSierpinski {
  grid-column-start: 3;
  float: right;
}
.Tree {
  display: grid;
  overflow: auto;
  background-color: lightpink;
  border-radius: 10px;
  border-style: dashed;
  border-color: deeppink;
  border-width: 3px;
  width: 100%;
  height: 70%;
  margin: 10px;
}
.BasicTree {
  grid-column-start: 1;
  float: left;
}
.AngleTree {
  grid-column-start: 2;
}
.FlowerTree {
  grid-column-start: 3;
  float: right;
}
